{{ block title }}
    カテゴリー分類
{{ endblock }}
 
{{ block content }}
<img src = "{{ static showed_img }}" width=150px/>
    {{ formfields }}
    {{ next_button }}
<br>
<br>
<p class="category_title">カテゴリー1</p>
<div class = "imgs">
{{ for k,v in dict.items() }}
    {{ if v == "1" }}
        <img src = "{{ static k }}" width=30px/>
    {{ endif }}
{{ endfor }}
</div>
<br>
<br>
<br>

<p class="category_title">カテゴリー2</p>
<div class = "imgs">
{{ for k,v in dict.items() }}
    {{ if v == "2" }}
        <img src = "{{ static k }}" width=30px/>
    {{ endif }}
{{ endfor }}
</div>
<br>
<br>
<br>

<p class="category_title">カテゴリー3</p>
<div class = "imgs">
{{ for k,v in dict.items() }}
    {{ if v == "3" }}
        <img src = "{{ static k }}" width=30px/>
    {{ endif }}
{{ endfor }}
</div>
<br>
<br>
<br>

<p class="category_title">カテゴリー4</p>
<div class = "imgs">
{{ for k,v in dict.items() }}
    {{ if v == "4" }}
        <img src = "{{ static k }}" width=30px/>
    {{ endif }}
{{ endfor }}
</div>
<br>
<br>
<br>

<p class="category_title">カテゴリー5</p>
<div class = "imgs">
{{ for k,v in dict.items() }}
    {{ if v == "5" }}
        <img src = "{{ static k }}" width=30px/>
    {{ endif }}
{{ endfor }}
</div>
<br>
<br>
<br>

<p class="category_title">カテゴリー6</p>
<div class = "imgs">
{{ for k,v in dict.items() }}
    {{ if v == "6" }}
        <img src = "{{ static k }}" width=30px/>
    {{ endif }}
{{ endfor }}
</div>
{{ endblock }}

{% block app_styles %}
    <style>
        div.imgs {
            float: left;
        }
        p.category_tytle {
            margin: 0.3em;
        }
    </style>
{% endblock %}