{{ block title }}
    「聞き手」役
{{ endblock }}
 
{{ block content }}
<img src = "{{ static showed_img }}" width=150px/>
<p>あなたは、「話し手」の選択を受け入れました。</p>
<p>「次へ」ボタンを押してください。</p>
    {{ next_button }}
<br>
<br>
<div class = "box">
<p>前の実験でのカテゴリー分類の一覧</p>
<p class="category_title">カテゴリー1</p>
<div class = "imgs">
{{ for k,v in dict1.items() }}
    {{ if v == "1" }}
        <img src = "{{ static k }}" width=30px/>
    {{ endif }}
{{ endfor }}
</div>
<br>
<br>
<br>

<p class="category_title">カテゴリー2</p>
<div class = "imgs">
{{ for k,v in dict1.items() }}
    {{ if v == "2" }}
        <img src = "{{ static k }}" width=30px/>
    {{ endif }}
{{ endfor }}
</div>
<br>
<br>
<br>

<p class="category_title">カテゴリー3</p>
<div class = "imgs">
{{ for k,v in dict1.items() }}
    {{ if v == "3" }}
        <img src = "{{ static k }}" width=30px/>
    {{ endif }}
{{ endfor }}
</div>
<br>
<br>
<br>

<p class="category_title">カテゴリー4</p>
<div class = "imgs">
{{ for k,v in dict1.items() }}
    {{ if v == "4" }}
        <img src = "{{ static k }}" width=30px/>
    {{ endif }}
{{ endfor }}
</div>
<br>
<br>
<br>

<p class="category_title">カテゴリー5</p>
<div class = "imgs">
{{ for k,v in dict1.items() }}
    {{ if v == "5" }}
        <img src = "{{ static k }}" width=30px/>
    {{ endif }}
{{ endfor }}
</div>
<br>
<br>
<br>

<p class="category_title">カテゴリー6</p>
<div class = "imgs">
{{ for k,v in dict1.items() }}
    {{ if v == "6" }}
        <img src = "{{ static k }}" width=30px/>
    {{ endif }}
{{ endfor }}
</div>
</div>

<div class = "box">
<p>今回の実験で画像につけた記号の一覧</p>
<div class = "imgs">
    <img src="{{ static 'labels/1.png' }}" width=30px/>
    {{ for k,v in dict2.items() }}
        {{ if v == "1" }}
            <img src = "{{ static k }}" width=30px/>
        {{ endif }}
    {{ endfor }}
</div>
<br>
<br>
<br>
<div class = "imgs">
    <img src="{{ static 'labels/2.png' }}" width=30px/>
    {{ for k,v in dict2.items() }}
        {{ if v == "2" }}
            <img src = "{{ static k }}" width=30px/>
        {{ endif }}
    {{ endfor }}
</div>
<br>
<br>
<br>
<div class = "imgs">
    <img src="{{ static 'labels/3.png' }}" width=30px/>
    {{ for k,v in dict2.items() }}
        {{ if v == "3" }}
            <img src = "{{ static k }}" width=30px/>
        {{ endif }}
    {{ endfor }}
</div>
<br>
<br>
<br>
<div class = "imgs">
<img src="{{ static 'labels/4.png' }}" width=30px/>
{{ for k,v in dict2.items() }}
    {{ if v == "4" }}
        <img src = "{{ static k }}" width=30px/>
    {{ endif }}
{{ endfor }}
</div>
<br>
<br>
<br>
<div class = "imgs">
    <img src="{{ static 'labels/5.png' }}" width=30px/>
    {{ for k,v in dict2.items() }}
        {{ if v == "5" }}
            <img src = "{{ static k }}" width=30px/>
        {{ endif }}
    {{ endfor }}
</div>
<br>
<br>
<br>
<div class = "imgs">
    <img src="{{ static 'labels/6.png' }}" width=30px/>
    {{ for k,v in dict2.items() }}
        {{ if v == "6" }}
            <img src = "{{ static k }}" width=30px/>
        {{ endif }}
    {{ endfor }}
</div>
</div>

{{ endblock }}

{% block app_styles %}
    <style>
        div.imgs {
            float: left;
        }
        p.category_tytle {
            margin: 0.3em;
        }
        div.box {
            float: left;
            border: solid 2px black;
            box-sizing: border-box;
            width: 50%;
        }
        div.labels {
            position: relative;
            width: 80px;
            height: 80px;
            display: inline-block;
        }
        div.form {
            line-height: 1;
            display: block;
        }
        div.labelallign {
            letter-spacing: 1.1em;
        }

    </style>
{% endblock %}