{{ block title }}
    「話し手」
{{ endblock }}
 
{{ block content }}
<div style="width: 800px; text-align: left;"><span>
<p>「次へ」ボタンを押した時点で、以下に表示されている5つの画像が配置されている欄の記号が、あなたが選択したカテゴリーとしてそれぞれ「聞き手」に提案されます。</p>
<p>画像を移動させる必要がなければそのままで構いませんし、何か移動させたいものがあれば制限時間内に移動させ、「次へ」ボタンを押してください。</p>
<p>「次へ」ボタンを押すまでは、以下の5つの画像だけでなく、他の画像や記号を動かすこともできます。</p>
</span></div>
<br>
<div style="display: flex;">
{{ for showed_img in showed_imgs }}
{{ showed_img }}
{{ endfor }}
</div>
<p>※この上に表示されている画像はドラッグできません。対応する画像は、左から
1番目の画像が<span style="color: red;">赤</span>、
2番目の画像が<span style="color: orange;">オレンジ</span>、
3番目の画像が<span style="color: blue;">青</span>、
4番目の画像が<span style="color: green;">緑</span>、
5番目の画像が<span style="color: purple;">紫</span>
の枠でそれぞれ囲われていますので、表の中のそれらの画像をドラッグして分類を変更してください。</p>
<br>
<p>この状態でよければ、「次へ」ボタンを押してください。</p>
    {{ next_button }}
<br>
<br>
<div class="area">
    <ul id="names" class="name-list">
        {{ for namehtml in default_name_list }}
        {{ namehtml }}
        {{ endfor }}
    </ul>

<div class="grid">
    <div class="box box0" id="box0">
    {{ if "999" not in box0_defaultimgs }}
    {{ for b0i in box0_defaultimgs }}
    {{ b0i }}
    {{ endfor }}
    {{ endif }}
    </div>
    <div class="box box1" id="box1">
    {{ if "999" not in box1_defaultimgs }}
    {{ for b1i in box1_defaultimgs }}
    {{ b1i }}
    {{ endfor }}
    {{ endif }}
    </div>
    <div class="box box2" id="box2">
    {{ if "999" not in box2_defaultimgs }}
    {{ for b2i in box2_defaultimgs }}
    {{ b2i }}
    {{ endfor }}
    {{ endif }}
    </div>
    <div class="box box3" id="box3">
    {{ if "999" not in box3_defaultimgs }}
    {{ for b3i in box3_defaultimgs }}
    {{ b3i }}
    {{ endfor }}
    {{ endif }}
    </div>
    <div class="box box4" id="box4">
    {{ if "999" not in box4_defaultimgs }}
    {{ for b4i in box4_defaultimgs }}
    {{ b4i }}
    {{ endfor }}
    {{ endif }}
    </div>
    <div class="box box5" id="box5">
    {{ if "999" not in box5_defaultimgs }}
    {{ for b5i in box5_defaultimgs }}
    {{ b5i }}
    {{ endfor }}
    {{ endif }}
    </div>
</div>
</div>
<br>
<br>
<div class="log">
<p>ここに実験で行ったやり取りの履歴が表示されます。</p>
{{ for loghtml in loghtml_list }}
{{ loghtml }}
{{ endfor }}
</div>

<input type="hidden" name="name_order" id="name_order"/>
<input type="hidden" name="s_choice0" id="s_choice0" value="99"/>
<input type="hidden" name="s_choice1" id="s_choice1" value="99"/>
<input type="hidden" name="s_choice2" id="s_choice2" value="99"/>
<input type="hidden" name="s_choice3" id="s_choice3" value="99"/>
<input type="hidden" name="s_choice4" id="s_choice4" value="99"/>
<input type="hidden" name="img0_cat" id="img0_cat"/>
<input type="hidden" name="img1_cat" id="img1_cat"/>
<input type="hidden" name="img2_cat" id="img2_cat"/>
<input type="hidden" name="img3_cat" id="img3_cat"/>
<input type="hidden" name="img4_cat" id="img4_cat"/>
<input type="hidden" name="img5_cat" id="img5_cat"/>
<input type="hidden" name="img6_cat" id="img6_cat"/>
<input type="hidden" name="img7_cat" id="img7_cat"/>
<input type="hidden" name="img8_cat" id="img8_cat"/>
<input type="hidden" name="img9_cat" id="img9_cat"/>
<input type="hidden" name="img10_cat" id="img10_cat"/>
<input type="hidden" name="img11_cat" id="img11_cat"/>
<input type="hidden" name="img12_cat" id="img12_cat"/>
<input type="hidden" name="img13_cat" id="img13_cat"/>
<input type="hidden" name="img14_cat" id="img14_cat"/>
<input type="hidden" name="img15_cat" id="img15_cat"/>
<input type="hidden" name="img16_cat" id="img16_cat"/>
<input type="hidden" name="img17_cat" id="img17_cat"/>
<input type="hidden" name="img18_cat" id="img18_cat"/>
<input type="hidden" name="img19_cat" id="img19_cat"/>
<input type="hidden" name="img20_cat" id="img20_cat"/>
<input type="hidden" name="img21_cat" id="img21_cat"/>
<input type="hidden" name="img22_cat" id="img22_cat"/>
<input type="hidden" name="img23_cat" id="img23_cat"/>
<input type="hidden" name="img24_cat" id="img24_cat"/>
<input type="hidden" name="img25_cat" id="img25_cat"/>
<input type="hidden" name="img26_cat" id="img26_cat"/>
<input type="hidden" name="img27_cat" id="img27_cat"/>
<input type="hidden" name="img28_cat" id="img28_cat"/>
<input type="hidden" name="img29_cat" id="img29_cat"/>
<input type="hidden" name="img30_cat" id="img30_cat"/>
<input type="hidden" name="img31_cat" id="img31_cat"/>
<input type="hidden" name="img32_cat" id="img32_cat"/>
<input type="hidden" name="img33_cat" id="img33_cat"/>
<input type="hidden" name="img34_cat" id="img34_cat"/>
<input type="hidden" name="img35_cat" id="img35_cat"/>
<input type="hidden" name="img36_cat" id="img36_cat"/>
<input type="hidden" name="img37_cat" id="img37_cat"/>
<input type="hidden" name="img38_cat" id="img38_cat"/>
<input type="hidden" name="img39_cat" id="img39_cat"/>

<input type="hidden" name="box0_children" id="box0_children"/>
<input type="hidden" name="box1_children" id="box1_children"/>
<input type="hidden" name="box2_children" id="box2_children"/>
<input type="hidden" name="box3_children" id="box3_children"/>
<input type="hidden" name="box4_children" id="box4_children"/>
<input type="hidden" name="box5_children" id="box5_children"/>

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script type="text/javascript" src="{% static "js/se_grid.js" %}"></script>

{{ endblock }}

{% block app_styles %}
    <style>
        .area {
            display: flex;
        }

        .name-list {
            list-style: none;
        }

        .grid {
          display: grid;
          grid-template-columns: 900px;
          grid-template-rows: 100px 100px 100px 100px 100px 100px;
        }

        .box {
          display: flex;
          flex-flow: row wrap;
        }

        .box0 {
            border: 1px solid black;
            grid-row: 1/2;
        }

        .box1 {
            border: 1px solid black;
            grid-row: 2/3;
        }

        .box2 {
            border: 1px solid black;
            grid-row: 3/4;
           }

        .box3 {
            border: 1px solid black;
            grid-row: 4/5;
        }

        .box4 {
            border: 1px solid black;
            grid-row: 5/6;
        }

        .box5 {
            border: 1px solid black;
            grid-row: 6/7;
        }

        .item {
          width: 50px;
          height: 50px;
        }
        
        .dragging {
          opacity: 0.5;
        }

        .over {
          background-color: rgba(255, 255, 0, 0.3);
        }

        .log {
          width: 1000px;
          height: 600px;
          border: 1px solid black;
          overflow-y: scroll;
        }

        .selected0 {
            border: 3px solid red;
        }
        .selected1 {
            border: 3px solid orange;
        }
        .selected2 {
            border: 3px solid blue;
        }
        .selected3 {
            border: 3px solid green;
        }
        .selected4 {
            border: 3px solid purple;
        }
    </style>
{% endblock %}